Repository ska-telescope/skampi, changes with the owners that CODEOWNERS names for each.
All owners: @adb-42, @mmarquar, @juandesant, @ben.mort, @gerhardlr, @adam-avison, @scpmw, @abridger, @sonja.vrcic, @tjuerges, @limonkufu, @piersharding, @dalmiromaia, @Bruno_Ribeiro, @jbmorgado, @domingosnunes, @diogoregateiro, @matteo1981, @digvijaygautam, @flyingfrog81, @vla22

CODEOWNERS:

# Further information on how the assignment are based
# could be found here: 
# https://confluence.skatelescope.org/display/SWSI/Skampi+Change+Management

# Overall Default Reviewers
# This covers all the files that are not part of the above and will be used to orchestrate those parts of the repository.
# Files are matched as the last statement in order so this will act like a filter that catches any file that's been left out
# by the rest of the file 
# Members:
# - All
* @adb-42 @mmarquar @juandesant @ben.mort @gerhardlr @adam-avison @scpmw @abridger @sonja.vrcic @tjuerges @gerhardlr @limonkufu @piersharding @dalmiromaia @Bruno_Ribeiro @jbmorgado @domingosnunes @diogoregateiro @matteo1981 @digvijaygautam 

# Other
# Members:
# - Owner: Gerhard LeRoux
/charts/ska-landingpage/ @gerhardlr 

## Grouped Changes
# Products (Helm charts) Reviewers, A1, and Product Organisation Reviewers, H1
# Description: 
# -- A1 --
# Change to the SKA-Low or SKA-Mid chart, including:
# - Changing the version number of a chart it depends on (aka a sub-chart), 
#   one of the subsystem or support charts;
# - Adding a new sub-chart;
# - Removing a sub-chart;
# - Changing the default values that significantly affects the deployment.
# This typically occurs as a result of a new feature or fix on a subsystem
# (or one of its components) that is part of SKA-Low or SKA-Mid. 
# There should always be a reference to a specific capability/feature/story 
# or bug that resulted in this change. The change may result in a change
# in behaviour, in which case there should also be changes in acceptance 
# tests that verify the new behaviour (see next type of change).
# -- H1 --
# Cosmetic changes to the way Helm charts
# Members (POs/PMs, caretakers):
# - AIV Low: Malte Marquarding
# - AIV Mid: Adriaan De Beer
# - Caretakers: Juande, Santander-Vela, Ben Mort, Gerhard LeRoux, Adam Avison
# A1
/charts/ @adb-42 @mmarquar @juandesant @ben.mort @gerhardlr @adam-avison 
.release @adb-42 @mmarquar @juandesant @ben.mort @gerhardlr @adam-avison 
# H1
/charts/ska-mid/values.yaml @adb-42 @mmarquar @juandesant @ben.mort @gerhardlr @adam-avison 
/charts/ska-low/values.yaml @adb-42 @mmarquar @juandesant @ben.mort @gerhardlr @adam-avison 


# Tests Reviewers, A2, and Test Management Reviewers, H2
# Description:
# -- A2 --
# Change in a test, or addition or removal of a test.
# Tests are typically created alongside a specific change 
# in the behaviour of SKA-Low or SKA-Mid. This should form part of the work 
# done on a particular feature/story or bug that results in an update to 
# a product (see above).
# -- H2 --
# Nonfunctional changes to the tests and test dependencies used 
# to verify the products. For example, removing a test that has become 
# obsolete or redundant, change the way tests are marked/tagged and 
# reported to Jira, etc.
# Members (POs/PMs, stewards):
# - AIV Low: Malte Marquarding
# - AIV Mid: Adriaan De Beer 
# - Stewards: Peter Wortmann, Alan Bridger, Sonja Vrcic, Thomas Juerges, Gerhard LeRoux, Matteo Di Carlo
# A2
/tests/ @adb-42 @mmarquar @scpmw @abridger @sonja.vrcic @tjuerges @gerhardlr
/scripts/ @adb-42 @mmarquar @scpmw @abridger @sonja.vrcic @tjuerges @gerhardlr @matteo1981 
/images/testing/ @adb-42 @mmarquar @scpmw @abridger @sonja.vrcic @tjuerges @gerhardlr @matteo1981 

# CI/CD Reviewers, A3, and Housekeeping CI Reviewers, H3
# Description:
# -- A3 --
# Change in the way the continuous integration pipeline is 
# run as a consequence of GitLab triggers (commits, merges, manual pipeline 
# runs/deployments and staging releases). This change may result from 
# improvements or fixing problems. This type of change is specialised and 
# typically involves the System team or other people with 
# the requisite knowledge.
# -- H3 --
# Nonfunctional changes to the CI pipeline to ensure it is up to date and
# continuously improved. 
#For example, removing deprecated makefile targets, or removing unused scripts
# Members(POs, ST, marshalls):
# - System Team
# - Marshalls: System Team
# A3
.gitlab-ci.yml @limonkufu @piersharding @dalmiromaia @Bruno_Ribeiro @jbmorgado @domingosnunes @diogoregateiro @matteo1981 @digvijaygautam 
/.gitlab/ @limonkufu @piersharding @dalmiromaia @Bruno_Ribeiro @jbmorgado @domingosnunes @diogoregateiro @matteo1981 @digvijaygautam 
Makefile @limonkufu @piersharding @dalmiromaia @Bruno_Ribeiro @jbmorgado @domingosnunes @diogoregateiro @matteo1981 @digvijaygautam 
# H3
values.yaml @limonkufu @piersharding @dalmiromaia @Bruno_Ribeiro @jbmorgado @domingosnunes @diogoregateiro @matteo1981 @digvijaygautam 
/.make/ @limonkufu @piersharding @dalmiromaia @Bruno_Ribeiro @jbmorgado @domingosnunes @diogoregateiro @matteo1981 @digvijaygautam 
.readthedocs.yaml @limonkufu @piersharding @dalmiromaia @Bruno_Ribeiro @jbmorgado @domingosnunes @diogoregateiro @matteo1981 @digvijaygautam 
tests/Makefile @limonkufu @piersharding @dalmiromaia @Bruno_Ribeiro @jbmorgado @domingosnunes @diogoregateiro @matteo1981 @digvijaygautam
LICENSE @limonkufu @piersharding @flyingfrog81 @dalmiromaia @Bruno_Ribeiro @jbmorgado @domingosnunes @diogoregateiro @matteo1981 @digvijaygautam
/resources/ @limonkufu @piersharding @flyingfrog81 @dalmiromaia @Bruno_Ribeiro @jbmorgado @domingosnunes @diogoregateiro @matteo1981 @digvijaygautam
.gitignore @limonkufu @piersharding @flyingfrog81 @dalmiromaia @Bruno_Ribeiro @jbmorgado @domingosnunes @diogoregateiro @matteo1981 @digvijaygautam
.gitmodules @limonkufu @piersharding @flyingfrog81 @dalmiromaia @Bruno_Ribeiro @jbmorgado @domingosnunes @diogoregateiro @matteo1981 @digvijaygautam
pyproject.toml @limonkufu @piersharding @flyingfrog81 @dalmiromaia @Bruno_Ribeiro @jbmorgado @domingosnunes @diogoregateiro @matteo1981 @digvijaygautam
pipeline.yaml @limonkufu @piersharding @flyingfrog81 @dalmiromaia @Bruno_Ribeiro @jbmorgado @domingosnunes @diogoregateiro @matteo1981 @digvijaygautam

# Docs Reviewers, A4
# Description:
# Changes to documentation about the verification and CI processes related to 
# product integration (e.g. update in the readme on new env variables) 
# Since these changes are typical as a result of A2 or A3 they should be combined
# as separate stories within the same feature used for A2 or A3.
# Members(POs, marshalls):
# - Marshalls: System Team
# - AIV Low: Malte Marquarding
# - AIV Mid: Adriaan De Beer
/docs/ @limonkufu @piersharding @vla22 @adb-42 @mmarquar @dalmiromaia @Bruno_Ribeiro @jbmorgado @domingosnunes @diogoregateiro @matteo1981 @digvijaygautam 
README.md @limonkufu @piersharding @vla22 @adb-42 @mmarquar @dalmiromaia @Bruno_Ribeiro @jbmorgado @domingosnunes @diogoregateiro @matteo1981 @digvijaygautam

SST-618: add requests
  tests/requirements.txt
Owners: @adb-42, @mmarquar, @scpmw, @abridger, @sonja.vrcic, @tjuerges, @gerhardlr

SST-618: add basic servcies tests for taranta
  tests/integration/features/tangogql_upload.feature
  tests/integration/features/taranta_basic.feature
  tests/integration/test_tango_basic.py
  tests/integration/test_tango_gql.py
Owners: @adb-42, @mmarquar, @scpmw, @abridger, @sonja.vrcic, @tjuerges, @gerhardlr

AT-108 added note about how to deploy Taranta easily
  README.md
Owners: @limonkufu, @piersharding, @vla22, @adb-42, @mmarquar, @dalmiromaia, @Bruno_Ribeiro, @jbmorgado, @domingosnunes, @diogoregateiro, @matteo1981, @digvijaygautam

AT-108 added SKAMPI Subsystem documentation for Taranta
  docs/src/subsystems.rst
Owners: @limonkufu, @piersharding, @vla22, @adb-42, @mmarquar, @dalmiromaia, @Bruno_Ribeiro, @jbmorgado, @domingosnunes, @diogoregateiro, @matteo1981, @digvijaygautam

AT-108 added cross-references and other documentation improvements
  docs/src/subsystems.rst
Owners: @limonkufu, @piersharding, @vla22, @adb-42, @mmarquar, @dalmiromaia, @Bruno_Ribeiro, @jbmorgado, @domingosnunes, @diogoregateiro, @matteo1981, @digvijaygautam

AT-108 reordered headings for Taranta notes
  docs/src/subsystems.rst
Owners: @limonkufu, @piersharding, @vla22, @adb-42, @mmarquar, @dalmiromaia, @Bruno_Ribeiro, @jbmorgado, @domingosnunes, @diogoregateiro, @matteo1981, @digvijaygautam

SST-618: taranta rename
  .release
  Makefile
  README.md
  attic/resources/README.md
  attic/tests/post-deployment/.devcontainer/.bashrc
  attic/tests/post-deployment/.vscode/.env
  attic/tests/post-deployment/resources/test_support/README.md
  attic/tests/post-deployment/tests/smoke/test_start-up-telescope.py
  attic/tests/resources/test_support/README.md
  charts/ska-landingpage/data/external/chartinfo.js
  charts/ska-low/Chart.yaml
  charts/ska-low/values.yaml
  charts/ska-mid/Chart.yaml
  charts/ska-mid/values.yaml
  docs/src/deployment/helm.rst
  docs/src/deployment/multitenancy.rst
  docs/src/deployment/remote_deploy.rst
  docs/src/subsystems.rst
  pipeline.yaml
  resources/deployment_configurations/mid_stfc_config.yaml
  resources/deployment_configurations/mid_tango_infrastructure.yaml
  resources/localhelpers.mk
Owners: @adb-42, @mmarquar, @juandesant, @ben.mort, @gerhardlr, @adam-avison, @limonkufu, @piersharding, @dalmiromaia, @Bruno_Ribeiro, @jbmorgado, @domingosnunes, @diogoregateiro, @matteo1981, @digvijaygautam, @vla22, @scpmw, @abridger, @sonja.vrcic, @tjuerges, @flyingfrog81

SST-618 skallop version bump
  .gitlab-ci.yml
  Makefile
  tests/requirements.txt
Owners: @limonkufu, @piersharding, @dalmiromaia, @Bruno_Ribeiro, @jbmorgado, @domingosnunes, @diogoregateiro, @matteo1981, @digvijaygautam, @adb-42, @mmarquar, @scpmw, @abridger, @sonja.vrcic, @tjuerges, @gerhardlr

SST-618: default tangogql replicas to 1 for minikube
  Makefile
Owners: @limonkufu, @piersharding, @dalmiromaia, @Bruno_Ribeiro, @jbmorgado, @domingosnunes, @diogoregateiro, @matteo1981, @digvijaygautam

AT-111 testing infra tests executed only from python-test job
  .gitlab-ci.yml
  tests/integration/test_xray_upload.py
Owners: @limonkufu, @piersharding, @dalmiromaia, @Bruno_Ribeiro, @jbmorgado, @domingosnunes, @diogoregateiro, @matteo1981, @digvijaygautam, @adb-42, @mmarquar, @scpmw, @abridger, @sonja.vrcic, @tjuerges, @gerhardlr

AT-115 WIP commit. BDD scenario added for k8s cluster test
  tests/integration/features/xray_upload.feature
  tests/unit/test_cluster_k8s.py
Owners: @adb-42, @mmarquar, @scpmw, @abridger, @sonja.vrcic, @tjuerges, @gerhardlr

AT-115 fixed fixture issue
  tests/unit/test_cluster_k8s.py
Owners: @adb-42, @mmarquar, @scpmw, @abridger, @sonja.vrcic, @tjuerges, @gerhardlr

AT-115 only manually execute infrastructure tests
  .gitlab-ci.yml
Owners: @limonkufu, @piersharding, @dalmiromaia, @Bruno_Ribeiro, @jbmorgado, @domingosnunes, @diogoregateiro, @matteo1981, @digvijaygautam

AT-115 fixed rules reuse issue
  .gitlab-ci.yml
Owners: @limonkufu, @piersharding, @dalmiromaia, @Bruno_Ribeiro, @jbmorgado, @domingosnunes, @diogoregateiro, @matteo1981, @digvijaygautam

AT-115 make pipeline green again
  tests/integration/test_always_pass.py
Owners: @adb-42, @mmarquar, @scpmw, @abridger, @sonja.vrcic, @tjuerges, @gerhardlr

AT-115 added two feature files of overlapping tests for checking execution results uploading
  tests/integration/features/testing_infrastructure_VTS-1.feature
  tests/integration/features/xray_upload_XTP-3361.feature
  tests/integration/test_xray_upload.py
  tests/unit/test_cluster_k8s.py
Owners: @adb-42, @mmarquar, @scpmw, @abridger, @sonja.vrcic, @tjuerges, @gerhardlr

AT-115 allow pipeline to continue even when manual job is not executed
  .gitlab-ci.yml
Owners: @limonkufu, @piersharding, @dalmiromaia, @Bruno_Ribeiro, @jbmorgado, @domingosnunes, @diogoregateiro, @matteo1981, @digvijaygautam

AT-111 deploy on-demand with skallop-appropriate creds
  .gitlab/ci/ska-mid.gitlab-ci.yml
Owners: @limonkufu, @piersharding, @dalmiromaia, @Bruno_Ribeiro, @jbmorgado, @domingosnunes, @diogoregateiro, @matteo1981, @digvijaygautam

AT-111 fixed CI
  .gitlab/ci/ska-mid.gitlab-ci.yml
Owners: @limonkufu, @piersharding, @dalmiromaia, @Bruno_Ribeiro, @jbmorgado, @domingosnunes, @diogoregateiro, @matteo1981, @digvijaygautam

AT-111 deploy on-demand asap
  .gitlab/ci/ska-mid.gitlab-ci.yml
Owners: @limonkufu, @piersharding, @dalmiromaia, @Bruno_Ribeiro, @jbmorgado, @domingosnunes, @diogoregateiro, @matteo1981, @digvijaygautam

AT-111: update poetry toml
  pyproject.toml
Owners: @limonkufu, @piersharding, @flyingfrog81, @dalmiromaia, @Bruno_Ribeiro, @jbmorgado, @domingosnunes, @diogoregateiro, @matteo1981, @digvijaygautam

AT-111: add init file to make integration a package
  tests/integration/__init__.py
Owners: @adb-42, @mmarquar, @scpmw, @abridger, @sonja.vrcic, @tjuerges, @gerhardlr

AT-111: disable mid test
  .gitlab/ci/ska-mid.gitlab-ci.yml
Owners: @limonkufu, @piersharding, @dalmiromaia, @Bruno_Ribeiro, @jbmorgado, @domingosnunes, @diogoregateiro, @matteo1981, @digvijaygautam

AT-111: add on demand low
  .gitlab/ci/ska-low.gitlab-ci.yml
Owners: @limonkufu, @piersharding, @dalmiromaia, @Bruno_Ribeiro, @jbmorgado, @domingosnunes, @diogoregateiro, @matteo1981, @digvijaygautam

AT-111: uncomment low
  .gitlab-ci.yml
Owners: @limonkufu, @piersharding, @dalmiromaia, @Bruno_Ribeiro, @jbmorgado, @domingosnunes, @diogoregateiro, @matteo1981, @digvijaygautam

AT-111: comment out failed low jobs
  .gitlab/ci/ska-low.gitlab-ci.yml
Owners: @limonkufu, @piersharding, @dalmiromaia, @Bruno_Ribeiro, @jbmorgado, @domingosnunes, @diogoregateiro, @matteo1981, @digvijaygautam

AT-111: add taranta
  charts/ska-low/Chart.yaml
  charts/ska-mid/Chart.yaml
Owners: @adb-42, @mmarquar, @juandesant, @ben.mort, @gerhardlr, @adam-avison

AT-111 fixed accidental merge conflict leftovers
  .gitlab/ci/ska-low.gitlab-ci.yml
Owners: @limonkufu, @piersharding, @dalmiromaia, @Bruno_Ribeiro, @jbmorgado, @domingosnunes, @diogoregateiro, @matteo1981, @digvijaygautam

AT-111: fix true value to inverted commas
  charts/ska-low/values.yaml
Owners: @limonkufu, @piersharding, @dalmiromaia, @Bruno_Ribeiro, @jbmorgado, @domingosnunes, @diogoregateiro, @matteo1981, @digvijaygautam

AT-111 copied values from mid to low values.yaml for taranta
  charts/ska-low/values.yaml
Owners: @limonkufu, @piersharding, @dalmiromaia, @Bruno_Ribeiro, @jbmorgado, @domingosnunes, @diogoregateiro, @matteo1981, @digvijaygautam

AT-111 updated Makefile to have less parameters to set for deployment
  Makefile
  resources/localhelpers.mk
Owners: @limonkufu, @piersharding, @dalmiromaia, @Bruno_Ribeiro, @jbmorgado, @domingosnunes, @diogoregateiro, @matteo1981, @digvijaygautam, @flyingfrog81

SB-122: change value from mvp-low to ska-low
  charts/ska-low/values.yaml
Owners: @limonkufu, @piersharding, @dalmiromaia, @Bruno_Ribeiro, @jbmorgado, @domingosnunes, @diogoregateiro, @matteo1981, @digvijaygautam

AT-111: add pytest dependenccies
  poetry.lock
  pyproject.toml
Owners: @adb-42, @mmarquar, @juandesant, @ben.mort, @gerhardlr, @adam-avison, @scpmw, @abridger, @sonja.vrcic, @tjuerges, @limonkufu, @piersharding, @dalmiromaia, @Bruno_Ribeiro, @jbmorgado, @domingosnunes, @diogoregateiro, @matteo1981, @digvijaygautam, @flyingfrog81

SK-122: add basic landing page test
  tests/integration/features/landing_page.feature
  tests/integration/test_landing_page.py
Owners: @adb-42, @mmarquar, @scpmw, @abridger, @sonja.vrcic, @tjuerges, @gerhardlr

AT-111: add sdp test using mock
  poetry.lock
  pyproject.toml
  tests/integration/test_sdp_start_up.py
Owners: @adb-42, @mmarquar, @juandesant, @ben.mort, @gerhardlr, @adam-avison, @scpmw, @abridger, @sonja.vrcic, @tjuerges, @limonkufu, @piersharding, @dalmiromaia, @Bruno_Ribeiro, @jbmorgado, @domingosnunes, @diogoregateiro, @matteo1981, @digvijaygautam, @flyingfrog81

AT-111: added sdp chart
  charts/ska-low/Chart.yaml
Owners: @adb-42, @mmarquar, @juandesant, @ben.mort, @gerhardlr, @adam-avison

AT-111: add mocked test for sdp
  tests/integration/test_sdp_start_up.py
Owners: @adb-42, @mmarquar, @scpmw, @abridger, @sonja.vrcic, @tjuerges, @gerhardlr

AT-111: add before script
  .gitlab-ci.yml
Owners: @limonkufu, @piersharding, @dalmiromaia, @Bruno_Ribeiro, @jbmorgado, @domingosnunes, @diogoregateiro, @matteo1981, @digvijaygautam

AT-111: add command to master
  tests/integration/test_sdp_start_up.py
Owners: @adb-42, @mmarquar, @scpmw, @abridger, @sonja.vrcic, @tjuerges, @gerhardlr

AT-111: deployed csp lmc
  charts/ska-low/Chart.yaml
  charts/ska-low/values.yaml
Owners: @adb-42, @mmarquar, @juandesant, @ben.mort, @gerhardlr, @adam-avison, @limonkufu, @piersharding, @dalmiromaia, @Bruno_Ribeiro, @jbmorgado, @domingosnunes, @diogoregateiro, @matteo1981, @digvijaygautam
