Repository ska-telescope/skampi, changes with the owners that CODEOWNERS names for each.
All owners: @adb-42, @mmarquar, @juandesant, @ben.mort, @gerhardlr, @adam-avison, @scpmw, @abridger, @sonja.vrcic, @tjuerges, @limonkufu, @piersharding, @dalmiromaia, @Bruno_Ribeiro, @jbmorgado, @domingosnunes, @diogoregateiro, @matteo1981, @digvijaygautam, @flyingfrog81, @vla22

CODEOWNERS:

# Further information on how the assignment are based
# could be found here: 
# https://confluence.skatelescope.org/display/SWSI/Skampi+Change+Management

# Overall Default Reviewers
# This covers all the files that are not part of the above and will be used to orchestrate those parts of the repository.
# Files are matched as the last statement in order so this will act like a filter that catches any file that's been left out
# by the rest of the file 
# Members:
# - All
* @adb-42 @mmarquar @juandesant @ben.mort @gerhardlr @adam-avison @scpmw @abridger @sonja.vrcic @tjuerges @gerhardlr @limonkufu @piersharding @dalmiromaia @Bruno_Ribeiro @jbmorgado @domingosnunes @diogoregateiro @matteo1981 @digvijaygautam 

# Other
# Members:
# - Owner: Gerhard LeRoux
/charts/ska-landingpage/ @gerhardlr 

## Grouped Changes
# Products (Helm charts) Reviewers, A1, and Product Organisation Reviewers, H1
# Description: 
# -- A1 --
# Change to the SKA-Low or SKA-Mid chart, including:
# - Changing the version number of a chart it depends on (aka a sub-chart), 
#   one of the subsystem or support charts;
# - Adding a new sub-chart;
# - Removing a sub-chart;
# - Changing the default values that significantly affects the deployment.
# This typically occurs as a result of a new feature or fix on a subsystem
# (or one of its components) that is part of SKA-Low or SKA-Mid. 
# There should always be a reference to a specific capability/feature/story 
# or bug that resulted in this change. The change may result in a change
# in behaviour, in which case there should also be changes in acceptance 
# tests that verify the new behaviour (see next type of change).
# -- H1 --
# Cosmetic changes to the way Helm charts
# Members (POs/PMs, caretakers):
# - AIV Low: Malte Marquarding
# - AIV Mid: Adriaan De Beer
# - Caretakers: Juande, Santander-Vela, Ben Mort, Gerhard LeRoux, Adam Avison
# A1
/charts/ @adb-42 @mmarquar @juandesant @ben.mort @gerhardlr @adam-avison 
.release @adb-42 @mmarquar @juandesant @ben.mort @gerhardlr @adam-avison 
# H1
/charts/ska-mid/values.yaml @adb-42 @mmarquar @juandesant @ben.mort @gerhardlr @adam-avison 
/charts/ska-low/values.yaml @adb-42 @mmarquar @juandesant @ben.mort @gerhardlr @adam-avison 


# Tests Reviewers, A2, and Test Management Reviewers, H2
# Description:
# -- A2 --
# Change in a test, or addition or removal of a test.
# Tests are typically created alongside a specific change 
# in the behaviour of SKA-Low or SKA-Mid. This should form part of the work 
# done on a particular feature/story or bug that results in an update to 
# a product (see above).
# -- H2 --
# Nonfunctional changes to the tests and test dependencies used 
# to verify the products. For example, removing a test that has become 
# obsolete or redundant, change the way tests are marked/tagged and 
# reported to Jira, etc.
# Members (POs/PMs, stewards):
# - AIV Low: Malte Marquarding
# - AIV Mid: Adriaan De Beer 
# - Stewards: Peter Wortmann, Alan Bridger, Sonja Vrcic, Thomas Juerges, Gerhard LeRoux, Matteo Di Carlo
# A2
/tests/ @adb-42 @mmarquar @scpmw @abridger @sonja.vrcic @tjuerges @gerhardlr
/scripts/ @adb-42 @mmarquar @scpmw @abridger @sonja.vrcic @tjuerges @gerhardlr @matteo1981 
/images/testing/ @adb-42 @mmarquar @scpmw @abridger @sonja.vrcic @tjuerges @gerhardlr @matteo1981 

# CI/CD Reviewers, A3, and Housekeeping CI Reviewers, H3
# Description:
# -- A3 --
# Change in the way the continuous integration pipeline is 
# run as a consequence of GitLab triggers (commits, merges, manual pipeline 
# runs/deployments and staging releases). This change may result from 
# improvements or fixing problems. This type of change is specialised and 
# typically involves the System team or other people with 
# the requisite knowledge.
# -- H3 --
# Nonfunctional changes to the CI pipeline to ensure it is up to date and
# continuously improved. 
#For example, removing deprecated makefile targets, or removing unused scripts
# Members(POs, ST, marshalls):
# - System Team
# - Marshalls: System Team
# A3
.gitlab-ci.yml @limonkufu @piersharding @dalmiromaia @Bruno_Ribeiro @jbmorgado @domingosnunes @diogoregateiro @matteo1981 @digvijaygautam 
/.gitlab/ @limonkufu @piersharding @dalmiromaia @Bruno_Ribeiro @jbmorgado @domingosnunes @diogoregateiro @matteo1981 @digvijaygautam 
Makefile @limonkufu @piersharding @dalmiromaia @Bruno_Ribeiro @jbmorgado @domingosnunes @diogoregateiro @matteo1981 @digvijaygautam 
# H3
values.yaml @limonkufu @piersharding @dalmiromaia @Bruno_Ribeiro @jbmorgado @domingosnunes @diogoregateiro @matteo1981 @digvijaygautam 
/.make/ @limonkufu @piersharding @dalmiromaia @Bruno_Ribeiro @jbmorgado @domingosnunes @diogoregateiro @matteo1981 @digvijaygautam 
.readthedocs.yaml @limonkufu @piersharding @dalmiromaia @Bruno_Ribeiro @jbmorgado @domingosnunes @diogoregateiro @matteo1981 @digvijaygautam 
tests/Makefile @limonkufu @piersharding @dalmiromaia @Bruno_Ribeiro @jbmorgado @domingosnunes @diogoregateiro @matteo1981 @digvijaygautam
LICENSE @limonkufu @piersharding @flyingfrog81 @dalmiromaia @Bruno_Ribeiro @jbmorgado @domingosnunes @diogoregateiro @matteo1981 @digvijaygautam
/resources/ @limonkufu @piersharding @flyingfrog81 @dalmiromaia @Bruno_Ribeiro @jbmorgado @domingosnunes @diogoregateiro @matteo1981 @digvijaygautam
.gitignore @limonkufu @piersharding @flyingfrog81 @dalmiromaia @Bruno_Ribeiro @jbmorgado @domingosnunes @diogoregateiro @matteo1981 @digvijaygautam
.gitmodules @limonkufu @piersharding @flyingfrog81 @dalmiromaia @Bruno_Ribeiro @jbmorgado @domingosnunes @diogoregateiro @matteo1981 @digvijaygautam
pyproject.toml @limonkufu @piersharding @flyingfrog81 @dalmiromaia @Bruno_Ribeiro @jbmorgado @domingosnunes @diogoregateiro @matteo1981 @digvijaygautam
pipeline.yaml @limonkufu @piersharding @flyingfrog81 @dalmiromaia @Bruno_Ribeiro @jbmorgado @domingosnunes @diogoregateiro @matteo1981 @digvijaygautam

# Docs Reviewers, A4
# Description:
# Changes to documentation about the verification and CI processes related to 
# product integration (e.g. update in the readme on new env variables) 
# Since these changes are typical as a result of A2 or A3 they should be combined
# as separate stories within the same feature used for A2 or A3.
# Members(POs, marshalls):
# - Marshalls: System Team
# - AIV Low: Malte Marquarding
# - AIV Mid: Adriaan De Beer
/docs/ @limonkufu @piersharding @vla22 @adb-42 @mmarquar @dalmiromaia @Bruno_Ribeiro @jbmorgado @domingosnunes @diogoregateiro @matteo1981 @digvijaygautam 
README.md @limonkufu @piersharding @vla22 @adb-42 @mmarquar @dalmiromaia @Bruno_Ribeiro @jbmorgado @domingosnunes @diogoregateiro @matteo1981 @digvijaygautam

AT-111 single escape chars
  tests/integration/conftest.py
Owners: @adb-42, @mmarquar, @scpmw, @abridger, @sonja.vrcic, @tjuerges, @gerhardlr

AT-111 date instead of time
  charts/ska-mid/Chart.yaml
  tests/integration/conftest.py
Owners: @adb-42, @mmarquar, @juandesant, @ben.mort, @gerhardlr, @adam-avison, @scpmw, @abridger, @sonja.vrcic, @tjuerges

AT-111 fixed chart
  charts/ska-mid/Chart.yaml
Owners: @adb-42, @mmarquar, @juandesant, @ben.mort, @gerhardlr, @adam-avison

AT-111: testing \x1b instead of \e
  tests/integration/conftest.py
Owners: @adb-42, @mmarquar, @scpmw, @abridger, @sonja.vrcic, @tjuerges, @gerhardlr

AT-111 collapse device states as well
  tests/integration/conftest.py
Owners: @adb-42, @mmarquar, @scpmw, @abridger, @sonja.vrcic, @tjuerges, @gerhardlr

AT-111 updated CBF chart and removed temporary sleep workaround
  charts/ska-mid/Chart.yaml
  tests/integration/conftest.py
Owners: @adb-42, @mmarquar, @juandesant, @ben.mort, @gerhardlr, @adam-avison, @scpmw, @abridger, @sonja.vrcic, @tjuerges

AT-111 updated TMC charts to latest
  charts/ska-low/Chart.yaml
  charts/ska-mid/Chart.yaml
Owners: @adb-42, @mmarquar, @juandesant, @ben.mort, @gerhardlr, @adam-avison

SAR-322 Uncommented the ska-ser-skuid dependency
  charts/ska-mid/Chart.yaml
Owners: @adb-42, @mmarquar, @juandesant, @ben.mort, @gerhardlr, @adam-avison

ST-1095: Move KUBE_HOST to CI/CD Variables
  .gitlab-ci.yml
Owners: @limonkufu, @piersharding, @dalmiromaia, @Bruno_Ribeiro, @jbmorgado, @domingosnunes, @diogoregateiro, @matteo1981, @digvijaygautam

SAR-322 Added make target for the skuid component tests
  resources/skampi.mk
Owners: @limonkufu, @piersharding, @flyingfrog81, @dalmiromaia, @Bruno_Ribeiro, @jbmorgado, @domingosnunes, @diogoregateiro, @matteo1981, @digvijaygautam

SAR-322 Fixed MARK env variable value
  resources/skampi.mk
Owners: @limonkufu, @piersharding, @flyingfrog81, @dalmiromaia, @Bruno_Ribeiro, @jbmorgado, @domingosnunes, @diogoregateiro, @matteo1981, @digvijaygautam

SAR-322 Added missing closing quotation mark
  resources/skampi.mk
Owners: @limonkufu, @piersharding, @flyingfrog81, @dalmiromaia, @Bruno_Ribeiro, @jbmorgado, @domingosnunes, @diogoregateiro, @matteo1981, @digvijaygautam

AT-111 added updated Make targets and merged new Tango utils chart
  .gitignore
  .gitlab-ci.yml
  attic/charts/skamid/Chart.lock
  charts/ska-low/Chart.yaml
  charts/ska-mid/Chart.yaml
Owners: @limonkufu, @piersharding, @flyingfrog81, @dalmiromaia, @Bruno_Ribeiro, @jbmorgado, @domingosnunes, @diogoregateiro, @matteo1981, @digvijaygautam, @adb-42, @mmarquar, @juandesant, @ben.mort, @gerhardlr, @adam-avison, @scpmw, @abridger, @sonja.vrcic, @tjuerges

AT-111: enabled log consumer for low
  charts/ska-low/Chart.yaml
Owners: @adb-42, @mmarquar, @juandesant, @ben.mort, @gerhardlr, @adam-avison

SAR-322 Updated the image used for the skuid components tests
  resources/skampi.mk
Owners: @limonkufu, @piersharding, @flyingfrog81, @dalmiromaia, @Bruno_Ribeiro, @jbmorgado, @domingosnunes, @diogoregateiro, @matteo1981, @digvijaygautam

SKB-114 test MR CODEOWNERS that need to approve
  README.md
Owners: @limonkufu, @piersharding, @vla22, @adb-42, @mmarquar, @dalmiromaia, @Bruno_Ribeiro, @jbmorgado, @domingosnunes, @diogoregateiro, @matteo1981, @digvijaygautam

SAR-322 Enabled the ska-ser-skuid product in the pipeline.yaml
  pipeline.yaml
Owners: @limonkufu, @piersharding, @flyingfrog81, @dalmiromaia, @Bruno_Ribeiro, @jbmorgado, @domingosnunes, @diogoregateiro, @matteo1981, @digvijaygautam

SAR-322 Updated the k8s test image for the skuid component tests
  resources/skampi.mk
Owners: @limonkufu, @piersharding, @flyingfrog81, @dalmiromaia, @Bruno_Ribeiro, @jbmorgado, @domingosnunes, @diogoregateiro, @matteo1981, @digvijaygautam

SAR-322 Updated the test image and the MARK env
  resources/skampi.mk
Owners: @limonkufu, @piersharding, @flyingfrog81, @dalmiromaia, @Bruno_Ribeiro, @jbmorgado, @domingosnunes, @diogoregateiro, @matteo1981, @digvijaygautam

SAR-322 Uncommented the ska-ser-skuid chart in the ska-low umbrella chart
  charts/ska-low/Chart.yaml
  charts/ska-low/values.yaml
Owners: @adb-42, @mmarquar, @juandesant, @ben.mort, @gerhardlr, @adam-avison, @limonkufu, @piersharding, @dalmiromaia, @Bruno_Ribeiro, @jbmorgado, @domingosnunes, @diogoregateiro, @matteo1981, @digvijaygautam

SAR-322 Re-enable the ska-low pipeline stages
  .gitlab-ci.yml
Owners: @limonkufu, @piersharding, @dalmiromaia, @Bruno_Ribeiro, @jbmorgado, @domingosnunes, @diogoregateiro, @matteo1981, @digvijaygautam

SAR-322 Revert "SAR-322 Re-enable the ska-low pipeline stages"
  .gitlab-ci.yml
Owners: @limonkufu, @piersharding, @dalmiromaia, @Bruno_Ribeiro, @jbmorgado, @domingosnunes, @diogoregateiro, @matteo1981, @digvijaygautam

SAR-322 Updated the test image for skuid component test and the MARK env
  resources/skampi.mk
Owners: @limonkufu, @piersharding, @flyingfrog81, @dalmiromaia, @Bruno_Ribeiro, @jbmorgado, @domingosnunes, @diogoregateiro, @matteo1981, @digvijaygautam

AT-111: disable transit checking on cbf low
  tests/integration/test_start_up.py
Owners: @adb-42, @mmarquar, @scpmw, @abridger, @sonja.vrcic, @tjuerges, @gerhardlr

AT-111: disable check tangodb when in dev
  tests/integration/conftest.py
Owners: @adb-42, @mmarquar, @scpmw, @abridger, @sonja.vrcic, @tjuerges, @gerhardlr

AT-111: remove code moved to skallop
  tests/resources/log_consumer/__init__.py
  tests/resources/log_consumer/log_consumer.py
  tests/resources/log_consumer/tracer_helper.py
Owners: @adb-42, @mmarquar, @scpmw, @abridger, @sonja.vrcic, @tjuerges, @gerhardlr

AT-111: add transit checking and log capturing for csp test
  tests/integration/test_start_up.py
Owners: @adb-42, @mmarquar, @scpmw, @abridger, @sonja.vrcic, @tjuerges, @gerhardlr

AT-111: add replay events flag
  tests/integration/test_start_up.py
Owners: @adb-42, @mmarquar, @scpmw, @abridger, @sonja.vrcic, @tjuerges, @gerhardlr

AT-111: change timeout to 30
  tests/integration/test_start_up.py
Owners: @adb-42, @mmarquar, @scpmw, @abridger, @sonja.vrcic, @tjuerges, @gerhardlr

SST-648: use a pre-released mccs
  charts/pre-released/ska-low-mccs/Chart.yaml
  charts/pre-released/ska-low-mccs/README.md
  charts/pre-released/ska-low-mccs/data/configuration.json
  charts/pre-released/ska-low-mccs/data/demo_configuration.json
  charts/pre-released/ska-low-mccs/data/extra.json
  charts/pre-released/ska-low-mccs/templates/deviceservers.yaml
  charts/pre-released/ska-low-mccs/templates/mccs-cli.yaml
  charts/pre-released/ska-low-mccs/values.yaml
Owners: @adb-42, @mmarquar, @juandesant, @ben.mort, @gerhardlr, @adam-avison, @limonkufu, @piersharding, @vla22, @dalmiromaia, @Bruno_Ribeiro, @jbmorgado, @domingosnunes, @diogoregateiro, @matteo1981, @digvijaygautam

AT-120 re-enabled Low Deploy Test Destroy and other CI jobs
  .gitlab/ci/ska-low.gitlab-ci.yml
  Makefile
  tests/integration/conftest.py
Owners: @limonkufu, @piersharding, @dalmiromaia, @Bruno_Ribeiro, @jbmorgado, @domingosnunes, @diogoregateiro, @matteo1981, @digvijaygautam, @adb-42, @mmarquar, @scpmw, @abridger, @sonja.vrcic, @tjuerges, @gerhardlr

AT-120 re-enabled Low Deploy Test Destroy and other CI jobs
  .gitlab/ci/ska-low.gitlab-ci.yml
  tests/integration/conftest.py
Owners: @limonkufu, @piersharding, @dalmiromaia, @Bruno_Ribeiro, @jbmorgado, @domingosnunes, @diogoregateiro, @matteo1981, @digvijaygautam, @adb-42, @mmarquar, @scpmw, @abridger, @sonja.vrcic, @tjuerges, @gerhardlr

AT-111: disable mccs-low as version is deprecated
  charts/ska-low/Chart.yaml
  pipeline.yaml
Owners: @adb-42, @mmarquar, @juandesant, @ben.mort, @gerhardlr, @adam-avison, @limonkufu, @piersharding, @flyingfrog81, @dalmiromaia, @Bruno_Ribeiro, @jbmorgado, @domingosnunes, @diogoregateiro, @matteo1981, @digvijaygautam

AT-111: disable mcss test
  tests/integration/test_start_up.py
Owners: @adb-42, @mmarquar, @scpmw, @abridger, @sonja.vrcic, @tjuerges, @gerhardlr

AT-111: update skallop to rev 2.14.2
  poetry.lock
  pyproject.toml
Owners: @adb-42, @mmarquar, @juandesant, @ben.mort, @gerhardlr, @adam-avison, @scpmw, @abridger, @sonja.vrcic, @tjuerges, @limonkufu, @piersharding, @dalmiromaia, @Bruno_Ribeiro, @jbmorgado, @domingosnunes, @diogoregateiro, @matteo1981, @digvijaygautam, @flyingfrog81

SAR-322 Bumped up the ska-ser-skuid chart version to 0.3.1
  charts/ska-low/Chart.yaml
  charts/ska-mid/Chart.yaml
  resources/skampi.mk
Owners: @adb-42, @mmarquar, @juandesant, @ben.mort, @gerhardlr, @adam-avison, @limonkufu, @piersharding, @flyingfrog81, @dalmiromaia, @Bruno_Ribeiro, @jbmorgado, @domingosnunes, @diogoregateiro, @matteo1981, @digvijaygautam

AT-111: only do transit checking in dev mode
  tests/integration/test_start_up.py
Owners: @adb-42, @mmarquar, @scpmw, @abridger, @sonja.vrcic, @tjuerges, @gerhardlr

AT-120 Re-enabled Low CI pipelines
  tests/integration/conftest.py
Owners: @adb-42, @mmarquar, @scpmw, @abridger, @sonja.vrcic, @tjuerges, @gerhardlr

AT-111: fail when unexpectedly stopped
  tests/integration/test_start_up.py
Owners: @adb-42, @mmarquar, @scpmw, @abridger, @sonja.vrcic, @tjuerges, @gerhardlr

AT-111 added in line with https://gitlab.com/ska-telescope/ska-skampi/-/merge_requests/573/diffs
  charts/ska-low/Chart.yaml
  charts/ska-low/values.yaml
  charts/ska-mid/Chart.yaml
  pipeline.yaml
  resources/skampi.mk
Owners: @adb-42, @mmarquar, @juandesant, @ben.mort, @gerhardlr, @adam-avison, @limonkufu, @piersharding, @dalmiromaia, @Bruno_Ribeiro, @jbmorgado, @domingosnunes, @diogoregateiro, @matteo1981, @digvijaygautam, @flyingfrog81
