Repository ska-telescope/skampi, changes with the owners that CODEOWNERS names for each.
All owners: @adb-42, @mmarquar, @juandesant, @ben.mort, @gerhardlr, @adam-avison, @scpmw, @abridger, @sonja.vrcic, @tjuerges, @limonkufu, @piersharding, @dalmiromaia, @Bruno_Ribeiro, @jbmorgado, @domingosnunes, @diogoregateiro, @matteo1981, @digvijaygautam, @flyingfrog81, @vla22

AT-111: updated tango util to latest
  charts/ska-mid/Chart.yaml
Owners: @adb-42, @mmarquar, @juandesant, @ben.mort, @gerhardlr, @adam-avison

AT-111 more of the small cleanup
  .gitlab/ci/common.gitlab-ci.yml
Owners: @limonkufu, @piersharding, @dalmiromaia, @Bruno_Ribeiro, @jbmorgado, @domingosnunes, @diogoregateiro, @matteo1981, @digvijaygautam

AT-111 mapped test plans to human-readable pytest marks (tags)
  tests/test-exec.json
Owners: @adb-42, @mmarquar, @scpmw, @abridger, @sonja.vrcic, @tjuerges, @gerhardlr

AT-111: update landing page feature file
  tests/integration/features/landing_page.feature
Owners: @adb-42, @mmarquar, @scpmw, @abridger, @sonja.vrcic, @tjuerges, @gerhardlr

AT-111: update taranta feature file
  tests/integration/features/taranta_basic.feature
Owners: @adb-42, @mmarquar, @scpmw, @abridger, @sonja.vrcic, @tjuerges, @gerhardlr

AT-111: fix wrong assertion
  tests/integration/conftest.py
Owners: @adb-42, @mmarquar, @scpmw, @abridger, @sonja.vrcic, @tjuerges, @gerhardlr

AT-111: move features to test
  tests/features/cbf_start_up_telescope.feature
  tests/features/csp_start_up_telescope.feature
  tests/features/landing_page.feature
  tests/features/mccs_start_up_telescope.feature
  tests/features/sdp_assign_resources.feature
  tests/features/sdp_configure_scan.feature
  tests/features/sdp_start_up_telescope.feature
  tests/features/taranta_basic.feature
  tests/features/xray_upload.feature
  tests/pytest.ini
Owners: @adb-42, @mmarquar, @scpmw, @abridger, @sonja.vrcic, @tjuerges, @gerhardlr

AT-111: move test xray upload to unit
  tests/unit/test_xray_upload.py
Owners: @adb-42, @mmarquar, @scpmw, @abridger, @sonja.vrcic, @tjuerges, @gerhardlr

AT-111 move infra tests into unit test directory and call only tests/unit tests in python-test CI job
  .gitlab-ci.yml
  tests/features/cbf_start_up_telescope.feature
  tests/features/csp_start_up_telescope.feature
  tests/features/landing_page.feature
  tests/features/mccs_start_up_telescope.feature
  tests/features/sdp_assign_resources.feature
  tests/features/sdp_configure_scan.feature
  tests/features/sdp_start_up_telescope.feature
  tests/features/taranta_basic.feature
  tests/features/xray_upload.feature
  tests/integration/test_start_up.py
  tests/pytest.ini
  tests/test-exec.json
Owners: @limonkufu, @piersharding, @dalmiromaia, @Bruno_Ribeiro, @jbmorgado, @domingosnunes, @diogoregateiro, @matteo1981, @digvijaygautam, @adb-42, @mmarquar, @scpmw, @abridger, @sonja.vrcic, @tjuerges, @gerhardlr

AT-111: temporarily sleep for 10s
  tests/integration/conftest.py
Owners: @adb-42, @mmarquar, @scpmw, @abridger, @sonja.vrcic, @tjuerges, @gerhardlr

AT-111: re enabled sdp tests as startup bugs are not related to sdp only
  tests/integration/test_start_up.py
Owners: @adb-42, @mmarquar, @scpmw, @abridger, @sonja.vrcic, @tjuerges, @gerhardlr

AT-111: use only xray ids in select from tag
  tests/test-exec.json
Owners: @adb-42, @mmarquar, @scpmw, @abridger, @sonja.vrcic, @tjuerges, @gerhardlr

AT-111: update mid cbf to 0.2.6
  charts/ska-mid/Chart.yaml
Owners: @adb-42, @mmarquar, @juandesant, @ben.mort, @gerhardlr, @adam-avison

AT-111: wait for cbf subarrays also
  tests/resources/models/mvp_model/waiting.py
Owners: @adb-42, @mmarquar, @scpmw, @abridger, @sonja.vrcic, @tjuerges, @gerhardlr

AT-111: change cbf to using OFF not standby
  tests/resources/models/cbf_model/entry_point.py
Owners: @adb-42, @mmarquar, @scpmw, @abridger, @sonja.vrcic, @tjuerges, @gerhardlr

AT-111: only check for subarray 1 in cbf
  tests/integration/test_start_up.py
Owners: @adb-42, @mmarquar, @scpmw, @abridger, @sonja.vrcic, @tjuerges, @gerhardlr

AT-111: add transit checler
  tests/integration/conftest.py
Owners: @adb-42, @mmarquar, @scpmw, @abridger, @sonja.vrcic, @tjuerges, @gerhardlr

AT-111: setup transit checking
  tests/integration/test_start_up.py
Owners: @adb-42, @mmarquar, @scpmw, @abridger, @sonja.vrcic, @tjuerges, @gerhardlr

AT-111: uses builder if provided
  tests/resources/models/mvp_model/synched_entry_point.py
Owners: @adb-42, @mmarquar, @scpmw, @abridger, @sonja.vrcic, @tjuerges, @gerhardlr

AT-111: uses injected builder if not None
  tests/resources/models/mvp_model/waiting.py
Owners: @adb-42, @mmarquar, @scpmw, @abridger, @sonja.vrcic, @tjuerges, @gerhardlr

AT-111 attempt at hiding devices
  tests/integration/conftest.py
Owners: @adb-42, @mmarquar, @scpmw, @abridger, @sonja.vrcic, @tjuerges, @gerhardlr

AT-111 fixed output of device list
  tests/integration/conftest.py
Owners: @adb-42, @mmarquar, @scpmw, @abridger, @sonja.vrcic, @tjuerges, @gerhardlr

AT-111 maybe one less colon is needed
  tests/integration/conftest.py
Owners: @adb-42, @mmarquar, @scpmw, @abridger, @sonja.vrcic, @tjuerges, @gerhardlr

AT-111 more missing characters
  tests/integration/conftest.py
Owners: @adb-42, @mmarquar, @scpmw, @abridger, @sonja.vrcic, @tjuerges, @gerhardlr

AT-111: factor out transit checking
  tests/integration/conftest.py
Owners: @adb-42, @mmarquar, @scpmw, @abridger, @sonja.vrcic, @tjuerges, @gerhardlr

AT-111: update skallop to rev 2.14.0
  poetry.lock
  pyproject.toml
Owners: @adb-42, @mmarquar, @juandesant, @ben.mort, @gerhardlr, @adam-avison, @scpmw, @abridger, @sonja.vrcic, @tjuerges, @limonkufu, @piersharding, @dalmiromaia, @Bruno_Ribeiro, @jbmorgado, @domingosnunes, @diogoregateiro, @matteo1981, @digvijaygautam, @flyingfrog81

AT-111: siwtch to switching on and off for each test
  .gitlab/ci/ska-mid.gitlab-ci.yml
Owners: @limonkufu, @piersharding, @dalmiromaia, @Bruno_Ribeiro, @jbmorgado, @domingosnunes, @diogoregateiro, @matteo1981, @digvijaygautam

AT-111: remove depenendy on entry point builder
  tests/resources/models/mvp_model/synched_entry_point.py
  tests/resources/models/mvp_model/waiting.py
Owners: @adb-42, @mmarquar, @scpmw, @abridger, @sonja.vrcic, @tjuerges, @gerhardlr

AT-111: use skallop fixtures for transit checking
  tests/integration/test_start_up.py
Owners: @adb-42, @mmarquar, @scpmw, @abridger, @sonja.vrcic, @tjuerges, @gerhardlr

AT-111: update cbf to rev 0.2.7
  charts/ska-mid/Chart.yaml
Owners: @adb-42, @mmarquar, @juandesant, @ben.mort, @gerhardlr, @adam-avison

SAR-332 Uncommented the ska-ser-skuid dependency
  charts/ska-mid/Chart.yaml
Owners: @adb-42, @mmarquar, @juandesant, @ben.mort, @gerhardlr, @adam-avison

AT-111 marked start of logs and attempted double-escape chars
  tests/integration/conftest.py
Owners: @adb-42, @mmarquar, @scpmw, @abridger, @sonja.vrcic, @tjuerges, @gerhardlr

AT-111: update to rev 2.14.1
  poetry.lock
  pyproject.toml
Owners: @adb-42, @mmarquar, @juandesant, @ben.mort, @gerhardlr, @adam-avison, @scpmw, @abridger, @sonja.vrcic, @tjuerges, @limonkufu, @piersharding, @dalmiromaia, @Bruno_Ribeiro, @jbmorgado, @domingosnunes, @diogoregateiro, @matteo1981, @digvijaygautam, @flyingfrog81

AT-111: add cature log message option
  tests/integration/test_start_up.py
Owners: @adb-42, @mmarquar, @scpmw, @abridger, @sonja.vrcic, @tjuerges, @gerhardlr

AT-111 autouse=true
  charts/ska-mid/Chart.yaml
  tests/integration/conftest.py
Owners: @adb-42, @mmarquar, @juandesant, @ben.mort, @gerhardlr, @adam-avison, @scpmw, @abridger, @sonja.vrcic, @tjuerges

AT-111 single escape chars
  tests/integration/conftest.py
Owners: @adb-42, @mmarquar, @scpmw, @abridger, @sonja.vrcic, @tjuerges, @gerhardlr

AT-111 fixed inadvertent local chart use
  charts/ska-mid/Chart.yaml
Owners: @adb-42, @mmarquar, @juandesant, @ben.mort, @gerhardlr, @adam-avison

AT-111 double escapes
  tests/integration/conftest.py
Owners: @adb-42, @mmarquar, @scpmw, @abridger, @sonja.vrcic, @tjuerges, @gerhardlr

AT-111 Newline starting log output
  tests/integration/conftest.py
Owners: @adb-42, @mmarquar, @scpmw, @abridger, @sonja.vrcic, @tjuerges, @gerhardlr

AT-111 removed the tick
  tests/integration/conftest.py
Owners: @adb-42, @mmarquar, @scpmw, @abridger, @sonja.vrcic, @tjuerges, @gerhardlr

CODEOWNERS:

# Further information on how the assignment are based
# could be found here: 
# https://confluence.skatelescope.org/display/SWSI/Skampi+Change+Management

# Overall Default Reviewers
# This covers all the files that are not part of the above and will be used to orchestrate those parts of the repository.
# Files are matched as the last statement in order so this will act like a filter that catches any file that's been left out
# by the rest of the file 
# Members:
# - All
* @adb-42 @mmarquar @juandesant @ben.mort @gerhardlr @adam-avison @scpmw @abridger @sonja.vrcic @tjuerges @gerhardlr @limonkufu @piersharding @dalmiromaia @Bruno_Ribeiro @jbmorgado @domingosnunes @diogoregateiro @matteo1981 @digvijaygautam 

# Other
# Members:
# - Owner: Gerhard LeRoux
/charts/ska-landingpage/ @gerhardlr 

## Grouped Changes
# Products (Helm charts) Reviewers, A1, and Product Organisation Reviewers, H1
# Description: 
# -- A1 --
# Change to the SKA-Low or SKA-Mid chart, including:
# - Changing the version number of a chart it depends on (aka a sub-chart), 
#   one of the subsystem or support charts;
# - Adding a new sub-chart;
# - Removing a sub-chart;
# - Changing the default values that significantly affects the deployment.
# This typically occurs as a result of a new feature or fix on a subsystem
# (or one of its components) that is part of SKA-Low or SKA-Mid. 
# There should always be a reference to a specific capability/feature/story 
# or bug that resulted in this change. The change may result in a change
# in behaviour, in which case there should also be changes in acceptance 
# tests that verify the new behaviour (see next type of change).
# -- H1 --
# Cosmetic changes to the way Helm charts
# Members (POs/PMs, caretakers):
# - AIV Low: Malte Marquarding
# - AIV Mid: Adriaan De Beer
# - Caretakers: Juande, Santander-Vela, Ben Mort, Gerhard LeRoux, Adam Avison
# A1
/charts/ @adb-42 @mmarquar @juandesant @ben.mort @gerhardlr @adam-avison 
.release @adb-42 @mmarquar @juandesant @ben.mort @gerhardlr @adam-avison 
# H1
/charts/ska-mid/values.yaml @adb-42 @mmarquar @juandesant @ben.mort @gerhardlr @adam-avison 
/charts/ska-low/values.yaml @adb-42 @mmarquar @juandesant @ben.mort @gerhardlr @adam-avison 


# Tests Reviewers, A2, and Test Management Reviewers, H2
# Description:
# -- A2 --
# Change in a test, or addition or removal of a test.
# Tests are typically created alongside a specific change 
# in the behaviour of SKA-Low or SKA-Mid. This should form part of the work 
# done on a particular feature/story or bug that results in an update to 
# a product (see above).
# -- H2 --
# Nonfunctional changes to the tests and test dependencies used 
# to verify the products. For example, removing a test that has become 
# obsolete or redundant, change the way tests are marked/tagged and 
# reported to Jira, etc.
# Members (POs/PMs, stewards):
# - AIV Low: Malte Marquarding
# - AIV Mid: Adriaan De Beer 
# - Stewards: Peter Wortmann, Alan Bridger, Sonja Vrcic, Thomas Juerges, Gerhard LeRoux, Matteo Di Carlo
# A2
/tests/ @adb-42 @mmarquar @scpmw @abridger @sonja.vrcic @tjuerges @gerhardlr
/scripts/ @adb-42 @mmarquar @scpmw @abridger @sonja.vrcic @tjuerges @gerhardlr @matteo1981 
/images/testing/ @adb-42 @mmarquar @scpmw @abridger @sonja.vrcic @tjuerges @gerhardlr @matteo1981 

# CI/CD Reviewers, A3, and Housekeeping CI Reviewers, H3
# Description:
# -- A3 --
# Change in the way the continuous integration pipeline is 
# run as a consequence of GitLab triggers (commits, merges, manual pipeline 
# runs/deployments and staging releases). This change may result from 
# improvements or fixing problems. This type of change is specialised and 
# typically involves the System team or other people with 
# the requisite knowledge.
# -- H3 --
# Nonfunctional changes to the CI pipeline to ensure it is up to date and
# continuously improved. 
#For example, removing deprecated makefile targets, or removing unused scripts
# Members(POs, ST, marshalls):
# - System Team
# - Marshalls: System Team
# A3
.gitlab-ci.yml @limonkufu @piersharding @dalmiromaia @Bruno_Ribeiro @jbmorgado @domingosnunes @diogoregateiro @matteo1981 @digvijaygautam 
/.gitlab/ @limonkufu @piersharding @dalmiromaia @Bruno_Ribeiro @jbmorgado @domingosnunes @diogoregateiro @matteo1981 @digvijaygautam 
Makefile @limonkufu @piersharding @dalmiromaia @Bruno_Ribeiro @jbmorgado @domingosnunes @diogoregateiro @matteo1981 @digvijaygautam 
# H3
values.yaml @limonkufu @piersharding @dalmiromaia @Bruno_Ribeiro @jbmorgado @domingosnunes @diogoregateiro @matteo1981 @digvijaygautam 
/.make/ @limonkufu @piersharding @dalmiromaia @Bruno_Ribeiro @jbmorgado @domingosnunes @diogoregateiro @matteo1981 @digvijaygautam 
.readthedocs.yaml @limonkufu @piersharding @dalmiromaia @Bruno_Ribeiro @jbmorgado @domingosnunes @diogoregateiro @matteo1981 @digvijaygautam 
tests/Makefile @limonkufu @piersharding @dalmiromaia @Bruno_Ribeiro @jbmorgado @domingosnunes @diogoregateiro @matteo1981 @digvijaygautam
LICENSE @limonkufu @piersharding @flyingfrog81 @dalmiromaia @Bruno_Ribeiro @jbmorgado @domingosnunes @diogoregateiro @matteo1981 @digvijaygautam
/resources/ @limonkufu @piersharding @flyingfrog81 @dalmiromaia @Bruno_Ribeiro @jbmorgado @domingosnunes @diogoregateiro @matteo1981 @digvijaygautam
.gitignore @limonkufu @piersharding @flyingfrog81 @dalmiromaia @Bruno_Ribeiro @jbmorgado @domingosnunes @diogoregateiro @matteo1981 @digvijaygautam
.gitmodules @limonkufu @piersharding @flyingfrog81 @dalmiromaia @Bruno_Ribeiro @jbmorgado @domingosnunes @diogoregateiro @matteo1981 @digvijaygautam
pyproject.toml @limonkufu @piersharding @flyingfrog81 @dalmiromaia @Bruno_Ribeiro @jbmorgado @domingosnunes @diogoregateiro @matteo1981 @digvijaygautam
pipeline.yaml @limonkufu @piersharding @flyingfrog81 @dalmiromaia @Bruno_Ribeiro @jbmorgado @domingosnunes @diogoregateiro @matteo1981 @digvijaygautam

# Docs Reviewers, A4
# Description:
# Changes to documentation about the verification and CI processes related to 
# product integration (e.g. update in the readme on new env variables) 
# Since these changes are typical as a result of A2 or A3 they should be combined
# as separate stories within the same feature used for A2 or A3.
# Members(POs, marshalls):
# - Marshalls: System Team
# - AIV Low: Malte Marquarding
# - AIV Mid: Adriaan De Beer
/docs/ @limonkufu @piersharding @vla22 @adb-42 @mmarquar @dalmiromaia @Bruno_Ribeiro @jbmorgado @domingosnunes @diogoregateiro @matteo1981 @digvijaygautam 
README.md @limonkufu @piersharding @vla22 @adb-42 @mmarquar @dalmiromaia @Bruno_Ribeiro @jbmorgado @domingosnunes @diogoregateiro @matteo1981 @digvijaygautam
