Repository ska-telescope/skampi, changes with the owners that CODEOWNERS names for each.
All owners: @adb-42, @mmarquar, @juandesant, @ben.mort, @gerhardlr, @adam-avison, @scpmw, @abridger, @sonja.vrcic, @tjuerges, @limonkufu, @piersharding, @dalmiromaia, @Bruno_Ribeiro, @jbmorgado, @domingosnunes, @diogoregateiro, @matteo1981, @digvijaygautam, @flyingfrog81, @vla22

CODEOWNERS:

# Further information on how the assignment are based
# could be found here: 
# https://confluence.skatelescope.org/display/SWSI/Skampi+Change+Management

# Overall Default Reviewers
# This covers all the files that are not part of the above and will be used to orchestrate those parts of the repository.
# Files are matched as the last statement in order so this will act like a filter that catches any file that's been left out
# by the rest of the file 
# Members:
# - All
* @adb-42 @mmarquar @juandesant @ben.mort @gerhardlr @adam-avison @scpmw @abridger @sonja.vrcic @tjuerges @gerhardlr @limonkufu @piersharding @dalmiromaia @Bruno_Ribeiro @jbmorgado @domingosnunes @diogoregateiro @matteo1981 @digvijaygautam 

# Other
# Members:
# - Owner: Gerhard LeRoux
/charts/ska-landingpage/ @gerhardlr 

## Grouped Changes
# Products (Helm charts) Reviewers, A1, and Product Organisation Reviewers, H1
# Description: 
# -- A1 --
# Change to the SKA-Low or SKA-Mid chart, including:
# - Changing the version number of a chart it depends on (aka a sub-chart), 
#   one of the subsystem or support charts;
# - Adding a new sub-chart;
# - Removing a sub-chart;
# - Changing the default values that significantly affects the deployment.
# This typically occurs as a result of a new feature or fix on a subsystem
# (or one of its components) that is part of SKA-Low or SKA-Mid. 
# There should always be a reference to a specific capability/feature/story 
# or bug that resulted in this change. The change may result in a change
# in behaviour, in which case there should also be changes in acceptance 
# tests that verify the new behaviour (see next type of change).
# -- H1 --
# Cosmetic changes to the way Helm charts
# Members (POs/PMs, caretakers):
# - AIV Low: Malte Marquarding
# - AIV Mid: Adriaan De Beer
# - Caretakers: Juande, Santander-Vela, Ben Mort, Gerhard LeRoux, Adam Avison
# A1
/charts/ @adb-42 @mmarquar @juandesant @ben.mort @gerhardlr @adam-avison 
.release @adb-42 @mmarquar @juandesant @ben.mort @gerhardlr @adam-avison 
# H1
/charts/ska-mid/values.yaml @adb-42 @mmarquar @juandesant @ben.mort @gerhardlr @adam-avison 
/charts/ska-low/values.yaml @adb-42 @mmarquar @juandesant @ben.mort @gerhardlr @adam-avison 


# Tests Reviewers, A2, and Test Management Reviewers, H2
# Description:
# -- A2 --
# Change in a test, or addition or removal of a test.
# Tests are typically created alongside a specific change 
# in the behaviour of SKA-Low or SKA-Mid. This should form part of the work 
# done on a particular feature/story or bug that results in an update to 
# a product (see above).
# -- H2 --
# Nonfunctional changes to the tests and test dependencies used 
# to verify the products. For example, removing a test that has become 
# obsolete or redundant, change the way tests are marked/tagged and 
# reported to Jira, etc.
# Members (POs/PMs, stewards):
# - AIV Low: Malte Marquarding
# - AIV Mid: Adriaan De Beer 
# - Stewards: Peter Wortmann, Alan Bridger, Sonja Vrcic, Thomas Juerges, Gerhard LeRoux, Matteo Di Carlo
# A2
/tests/ @adb-42 @mmarquar @scpmw @abridger @sonja.vrcic @tjuerges @gerhardlr
/scripts/ @adb-42 @mmarquar @scpmw @abridger @sonja.vrcic @tjuerges @gerhardlr @matteo1981 
/images/testing/ @adb-42 @mmarquar @scpmw @abridger @sonja.vrcic @tjuerges @gerhardlr @matteo1981 

# CI/CD Reviewers, A3, and Housekeeping CI Reviewers, H3
# Description:
# -- A3 --
# Change in the way the continuous integration pipeline is 
# run as a consequence of GitLab triggers (commits, merges, manual pipeline 
# runs/deployments and staging releases). This change may result from 
# improvements or fixing problems. This type of change is specialised and 
# typically involves the System team or other people with 
# the requisite knowledge.
# -- H3 --
# Nonfunctional changes to the CI pipeline to ensure it is up to date and
# continuously improved. 
#For example, removing deprecated makefile targets, or removing unused scripts
# Members(POs, ST, marshalls):
# - System Team
# - Marshalls: System Team
# A3
.gitlab-ci.yml @limonkufu @piersharding @dalmiromaia @Bruno_Ribeiro @jbmorgado @domingosnunes @diogoregateiro @matteo1981 @digvijaygautam 
/.gitlab/ @limonkufu @piersharding @dalmiromaia @Bruno_Ribeiro @jbmorgado @domingosnunes @diogoregateiro @matteo1981 @digvijaygautam 
Makefile @limonkufu @piersharding @dalmiromaia @Bruno_Ribeiro @jbmorgado @domingosnunes @diogoregateiro @matteo1981 @digvijaygautam 
# H3
values.yaml @limonkufu @piersharding @dalmiromaia @Bruno_Ribeiro @jbmorgado @domingosnunes @diogoregateiro @matteo1981 @digvijaygautam 
/.make/ @limonkufu @piersharding @dalmiromaia @Bruno_Ribeiro @jbmorgado @domingosnunes @diogoregateiro @matteo1981 @digvijaygautam 
.readthedocs.yaml @limonkufu @piersharding @dalmiromaia @Bruno_Ribeiro @jbmorgado @domingosnunes @diogoregateiro @matteo1981 @digvijaygautam 
tests/Makefile @limonkufu @piersharding @dalmiromaia @Bruno_Ribeiro @jbmorgado @domingosnunes @diogoregateiro @matteo1981 @digvijaygautam
LICENSE @limonkufu @piersharding @flyingfrog81 @dalmiromaia @Bruno_Ribeiro @jbmorgado @domingosnunes @diogoregateiro @matteo1981 @digvijaygautam
/resources/ @limonkufu @piersharding @flyingfrog81 @dalmiromaia @Bruno_Ribeiro @jbmorgado @domingosnunes @diogoregateiro @matteo1981 @digvijaygautam
.gitignore @limonkufu @piersharding @flyingfrog81 @dalmiromaia @Bruno_Ribeiro @jbmorgado @domingosnunes @diogoregateiro @matteo1981 @digvijaygautam
.gitmodules @limonkufu @piersharding @flyingfrog81 @dalmiromaia @Bruno_Ribeiro @jbmorgado @domingosnunes @diogoregateiro @matteo1981 @digvijaygautam
pyproject.toml @limonkufu @piersharding @flyingfrog81 @dalmiromaia @Bruno_Ribeiro @jbmorgado @domingosnunes @diogoregateiro @matteo1981 @digvijaygautam
pipeline.yaml @limonkufu @piersharding @flyingfrog81 @dalmiromaia @Bruno_Ribeiro @jbmorgado @domingosnunes @diogoregateiro @matteo1981 @digvijaygautam

# Docs Reviewers, A4
# Description:
# Changes to documentation about the verification and CI processes related to 
# product integration (e.g. update in the readme on new env variables) 
# Since these changes are typical as a result of A2 or A3 they should be combined
# as separate stories within the same feature used for A2 or A3.
# Members(POs, marshalls):
# - Marshalls: System Team
# - AIV Low: Malte Marquarding
# - AIV Mid: Adriaan De Beer
/docs/ @limonkufu @piersharding @vla22 @adb-42 @mmarquar @dalmiromaia @Bruno_Ribeiro @jbmorgado @domingosnunes @diogoregateiro @matteo1981 @digvijaygautam 
README.md @limonkufu @piersharding @vla22 @adb-42 @mmarquar @dalmiromaia @Bruno_Ribeiro @jbmorgado @domingosnunes @diogoregateiro @matteo1981 @digvijaygautam

AT-111: add dev mode pytest
  Makefile
Owners: @limonkufu, @piersharding, @dalmiromaia, @Bruno_Ribeiro, @jbmorgado, @domingosnunes, @diogoregateiro, @matteo1981, @digvijaygautam

AT-111: disable csp mid
  tests/integration/test_start_up.py
Owners: @adb-42, @mmarquar, @scpmw, @abridger, @sonja.vrcic, @tjuerges, @gerhardlr

AT-111: enabled tmc low
  charts/ska-low/Chart.yaml
  pipeline.yaml
Owners: @adb-42, @mmarquar, @juandesant, @ben.mort, @gerhardlr, @adam-avison, @limonkufu, @piersharding, @flyingfrog81, @dalmiromaia, @Bruno_Ribeiro, @jbmorgado, @domingosnunes, @diogoregateiro, @matteo1981, @digvijaygautam

AT-111: update tango util to 0.3.5
  charts/ska-low/Chart.yaml
Owners: @adb-42, @mmarquar, @juandesant, @ben.mort, @gerhardlr, @adam-avison

AT-111: downgrade tmc low
  charts/ska-low/Chart.yaml
Owners: @adb-42, @mmarquar, @juandesant, @ben.mort, @gerhardlr, @adam-avison

AT-111: disable tmc low
  pipeline.yaml
Owners: @limonkufu, @piersharding, @flyingfrog81, @dalmiromaia, @Bruno_Ribeiro, @jbmorgado, @domingosnunes, @diogoregateiro, @matteo1981, @digvijaygautam

AT-111: enabled mccs
  charts/ska-low/Chart.yaml
  pipeline.yaml
Owners: @adb-42, @mmarquar, @juandesant, @ben.mort, @gerhardlr, @adam-avison, @limonkufu, @piersharding, @flyingfrog81, @dalmiromaia, @Bruno_Ribeiro, @jbmorgado, @domingosnunes, @diogoregateiro, @matteo1981, @digvijaygautam

AT-111: add test ska-mid
  Makefile
Owners: @limonkufu, @piersharding, @dalmiromaia, @Bruno_Ribeiro, @jbmorgado, @domingosnunes, @diogoregateiro, @matteo1981, @digvijaygautam

AT-111: add kubernetes dependency
  poetry.lock
  pyproject.toml
Owners: @adb-42, @mmarquar, @juandesant, @ben.mort, @gerhardlr, @adam-avison, @scpmw, @abridger, @sonja.vrcic, @tjuerges, @limonkufu, @piersharding, @dalmiromaia, @Bruno_Ribeiro, @jbmorgado, @domingosnunes, @diogoregateiro, @matteo1981, @digvijaygautam, @flyingfrog81

AT-111: remove redundant check
  tests/resources/models/mvp_model/waiting.py
Owners: @adb-42, @mmarquar, @scpmw, @abridger, @sonja.vrcic, @tjuerges, @gerhardlr

AT-111: disable configure tests
  tests/integration/test_configure_scan.py
Owners: @adb-42, @mmarquar, @scpmw, @abridger, @sonja.vrcic, @tjuerges, @gerhardlr

AT-111: disable assign resources test
  tests/integration/test_assign_resources.py
Owners: @adb-42, @mmarquar, @scpmw, @abridger, @sonja.vrcic, @tjuerges, @gerhardlr

AT-111: add mccs startup test
  tests/integration/conftest.py
  tests/integration/features/mccs_start_up_telescope.feature
  tests/integration/test_start_up.py
Owners: @adb-42, @mmarquar, @scpmw, @abridger, @sonja.vrcic, @tjuerges, @gerhardlr

AT-111: set nr of subarray = 1
  tests/resources/models/csp_model/entry_point.py
Owners: @adb-42, @mmarquar, @scpmw, @abridger, @sonja.vrcic, @tjuerges, @gerhardlr

AT-111: add mccs entrypoint
  tests/resources/models/mccs_model/__init__.py
  tests/resources/models/mccs_model/entry_point.py
Owners: @adb-42, @mmarquar, @scpmw, @abridger, @sonja.vrcic, @tjuerges, @gerhardlr

AT-111: update skallop to rev 2.12.2
  .gitlab-ci.yml
  poetry.lock
  pyproject.toml
Owners: @limonkufu, @piersharding, @dalmiromaia, @Bruno_Ribeiro, @jbmorgado, @domingosnunes, @diogoregateiro, @matteo1981, @digvijaygautam, @adb-42, @mmarquar, @juandesant, @ben.mort, @gerhardlr, @adam-avison, @scpmw, @abridger, @sonja.vrcic, @tjuerges, @flyingfrog81

AT-115 refactored upload of results
  .gitlab-ci.yml
  .gitlab/ci/common.gitlab-ci.yml
  Makefile
  resources/skampi.mk
Owners: @limonkufu, @piersharding, @dalmiromaia, @Bruno_Ribeiro, @jbmorgado, @domingosnunes, @diogoregateiro, @matteo1981, @digvijaygautam, @flyingfrog81

AT-111 added SKA Mid Continuous Integration Tests to CI Pipeline
  .gitlab/ci/ska-mid.gitlab-ci.yml
Owners: @limonkufu, @piersharding, @dalmiromaia, @Bruno_Ribeiro, @jbmorgado, @domingosnunes, @diogoregateiro, @matteo1981, @digvijaygautam

AT-111 added env variables in output of make vars
  resources/skampi.mk
Owners: @limonkufu, @piersharding, @flyingfrog81, @dalmiromaia, @Bruno_Ribeiro, @jbmorgado, @domingosnunes, @diogoregateiro, @matteo1981, @digvijaygautam

AT-111 added TEST_ENV
  .gitlab/ci/ska-mid.gitlab-ci.yml
Owners: @limonkufu, @piersharding, @dalmiromaia, @Bruno_Ribeiro, @jbmorgado, @domingosnunes, @diogoregateiro, @matteo1981, @digvijaygautam

AT-111 clean up CI job log outputs by hiding unnecessary info
  .gitlab/ci/common.gitlab-ci.yml
Owners: @limonkufu, @piersharding, @dalmiromaia, @Bruno_Ribeiro, @jbmorgado, @domingosnunes, @diogoregateiro, @matteo1981, @digvijaygautam

AT-111 revert to make python-test and check if env variable was the missing link
  .gitlab/ci/ska-mid.gitlab-ci.yml
Owners: @limonkufu, @piersharding, @dalmiromaia, @Bruno_Ribeiro, @jbmorgado, @domingosnunes, @diogoregateiro, @matteo1981, @digvijaygautam

AT-115 aaah. That single-character bug.
  .gitlab/ci/ska-mid.gitlab-ci.yml
Owners: @limonkufu, @piersharding, @dalmiromaia, @Bruno_Ribeiro, @jbmorgado, @domingosnunes, @diogoregateiro, @matteo1981, @digvijaygautam

AT-111: remove csp from scope when deployed in mid
  tests/integration/conftest.py
Owners: @adb-42, @mmarquar, @scpmw, @abridger, @sonja.vrcic, @tjuerges, @gerhardlr

AT-111: make pytest dependencies main
  poetry.lock
  pyproject.toml
Owners: @adb-42, @mmarquar, @juandesant, @ben.mort, @gerhardlr, @adam-avison, @scpmw, @abridger, @sonja.vrcic, @tjuerges, @limonkufu, @piersharding, @dalmiromaia, @Bruno_Ribeiro, @jbmorgado, @domingosnunes, @diogoregateiro, @matteo1981, @digvijaygautam, @flyingfrog81

AT-111 wrapped requirements installation
  Makefile
Owners: @limonkufu, @piersharding, @dalmiromaia, @Bruno_Ribeiro, @jbmorgado, @domingosnunes, @diogoregateiro, @matteo1981, @digvijaygautam

AT-111: add taranta cred
  .gitlab/ci/ska-mid.gitlab-ci.yml
Owners: @limonkufu, @piersharding, @dalmiromaia, @Bruno_Ribeiro, @jbmorgado, @domingosnunes, @diogoregateiro, @matteo1981, @digvijaygautam

AT-111 reverted additional env vars
  .gitlab/ci/ska-mid.gitlab-ci.yml
Owners: @limonkufu, @piersharding, @dalmiromaia, @Bruno_Ribeiro, @jbmorgado, @domingosnunes, @diogoregateiro, @matteo1981, @digvijaygautam

AT-111: test basic connectivity
  .gitlab/ci/ska-mid.gitlab-ci.yml
Owners: @limonkufu, @piersharding, @dalmiromaia, @Bruno_Ribeiro, @jbmorgado, @domingosnunes, @diogoregateiro, @matteo1981, @digvijaygautam

AT-111: test skamid marked tests
  .gitlab/ci/ska-mid.gitlab-ci.yml
  tests/integration/test_tango_basic.py
Owners: @limonkufu, @piersharding, @dalmiromaia, @Bruno_Ribeiro, @jbmorgado, @domingosnunes, @diogoregateiro, @matteo1981, @digvijaygautam, @adb-42, @mmarquar, @scpmw, @abridger, @sonja.vrcic, @tjuerges, @gerhardlr

AT-111: fix session bug
  tests/integration/conftest.py
Owners: @adb-42, @mmarquar, @scpmw, @abridger, @sonja.vrcic, @tjuerges, @gerhardlr

AT-111: disable sdp due to bug
  tests/integration/test_start_up.py
Owners: @adb-42, @mmarquar, @scpmw, @abridger, @sonja.vrcic, @tjuerges, @gerhardlr

AT-111: added skallop rev 2.12.4
  .gitlab-ci.yml
  poetry.lock
  pyproject.toml
Owners: @limonkufu, @piersharding, @dalmiromaia, @Bruno_Ribeiro, @jbmorgado, @domingosnunes, @diogoregateiro, @matteo1981, @digvijaygautam, @adb-42, @mmarquar, @juandesant, @ben.mort, @gerhardlr, @adam-avison, @scpmw, @abridger, @sonja.vrcic, @tjuerges, @flyingfrog81

AT-111: add db check in the beginning
  tests/integration/conftest.py
Owners: @adb-42, @mmarquar, @scpmw, @abridger, @sonja.vrcic, @tjuerges, @gerhardlr

AT-111: add debug check devices in db
  tests/integration/conftest.py
Owners: @adb-42, @mmarquar, @scpmw, @abridger, @sonja.vrcic, @tjuerges, @gerhardlr

AT-111: fix incorrect sdp test removal
  tests/integration/test_start_up.py
Owners: @adb-42, @mmarquar, @scpmw, @abridger, @sonja.vrcic, @tjuerges, @gerhardlr

AT-111: ignore if env not set for remoting
  tests/integration/conftest.py
Owners: @adb-42, @mmarquar, @scpmw, @abridger, @sonja.vrcic, @tjuerges, @gerhardlr

AT-111: ignore sut not available
  tests/integration/conftest.py
Owners: @adb-42, @mmarquar, @scpmw, @abridger, @sonja.vrcic, @tjuerges, @gerhardlr

AT-111: add url data
  tests/integration/conftest.py
Owners: @adb-42, @mmarquar, @scpmw, @abridger, @sonja.vrcic, @tjuerges, @gerhardlr

AT-111 small clean-up
  .gitlab/ci/common.gitlab-ci.yml
Owners: @limonkufu, @piersharding, @dalmiromaia, @Bruno_Ribeiro, @jbmorgado, @domingosnunes, @diogoregateiro, @matteo1981, @digvijaygautam
